@charset "UTF-8";
$main-color: #295;
$style: solid;
$base-fontSize: 16px;

.div {
  border-radius: $base-fontSize;
  overflow: hidden;
  background: url("../image/bg.jpg") no-repeat;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  div{
    display: inline-block;
  }
}
a {
  color: $main-color;
  font-size: $base-fontSize * 10;
}