* {
  margin: 0;
  padding:0
}
.container{
  width: 100%;
  height: 100vh;
  background: #c0c0c0;
  display: flex;
}
.left{
  width: 200px;
  height: 100%;
  float: left;
  background: #bd3e26;
}
.right{
  width: 50%;
  float: left;
  flex: 1;
  height: 100%;
  background: #b3e866;
}